/* .nav {
  background-color: rgb(128, 127, 125);
  color: black;
} */
.main {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 1vmin);
  background-color: #f2f2f2;
}
